# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment / IDE
.env
.venv
env/
venv/
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files & logs
*.log
